<%- include('../../partials/header') %>
    <%- include('../../partials/sidenav') %>
        <div class="container-fluid">
            <div class="row mb-3 border-bottom">
                <h2>
                    Edit Issues
                </h2>
            </div>

            <form action="" method="POST" enctype="multipart/form-data">
                <div class="row my-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label for="tracker">Tracker
                    </div>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio"  name="options" id="bug" <%= issue.tracker == 'Bug' ? ' checked' : '' %> <%= issue.status == 'Closed' ? 'disabled' : '' %> value="Bug">
                            <label class="form-check-label" for="bug">
                                Bug
                            </label>
                            <div class="col-sm-8">
                                <input class="form-check-input" type="radio" <%= issue.tracker == 'Feature' ? ' checked' : '' %> <%= issue.status == 'Closed' ? 'disabled' : '' %> name="options" id="feature"
                                    value="Feature">
                                <label class="form-check-label" for="feature">
                                    Feature
                                </label>
                            </div>
                            <input class="form-check-input" type="radio" <%= issue.tracker == 'Support' ? ' checked' : '' %> <%= issue.status == 'Closed' ? 'disabled' : '' %> name="options" id="support" value="Support">
                            <label class="form-check-label" for="support">
                                Support
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label for="tracker">
                            Subject
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" <%= issue.status == 'Closed' ? 'readonly' : '' %> name="subject" id="subject" 
                            value="<%= issue.subject %>">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label for="tracker">
                            Description
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <textarea name="description" id="description" cols="126" <%= issue.status == 'Closed' ? 'disabled' : '' %> rows="3"><%= issue.description %></textarea>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label for="status">Status
                    </div>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" <%= issue.status == 'Closed' ? 'disabled' : '' %> <%= issue.status == 'New' ? ' checked' : '' %> name="optionStat" id="new" value="New">
                            <label class="form-check-label" for="new">
                                New
                            </label>
                            <div class="col-sm-8">
                                <input class="form-check-input" type="radio" <%= issue.status == 'Closed' ? 'disabled' : '' %> <%= issue.status == 'In Progress' ? ' checked' : '' %> name="optionStat" id="inProgress"
                                    value="In Progress">
                                <label class="form-check-label" for="inProgress">
                                    In Progress
                                </label>
                            </div>
                            <input class="form-check-input" type="radio" <%= issue.status == 'Closed' ? 'disabled' : '' %> <%= issue.status == 'Resolve' ? ' checked' : '' %> name="optionStat" id="resolve" value="Resolve">
                            <label class="form-check-label" for="resolve">
                                Resolve
                            </label>
                            <div class="col-sm-8">
                                <input class="form-check-input" type="radio" <%= issue.status == 'Closed' ? 'disabled' : '' %> <%= issue.status == 'Feedback' ? ' checked' : '' %> name="optionStat" id="new"
                                    value="Feedback">
                                <label class="form-check-label" for="new">
                                    Feedback
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-check-input" type="radio" <%= issue.status == 'Closed' ? 'disabled' : '' %> <%= issue.status == 'Closed' ? ' checked' : '' %> name="optionStat" id="closed"
                                    value="Closed">
                                <label class="form-check-label" for="closed">
                                    Closed
                                </label>
                            </div>
                            <input class="form-check-input" type="radio" <%= issue.status == 'Closed' ? 'disabled' : '' %> <%= issue.status == 'Rejected' ? ' checked' : '' %> name="optionStat" id="rejected"
                                value="Rejected">
                            <label class="form-check-label" for="rejected">
                                Rejected
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label for="tracker">Priority
                    </div>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" <%= issue.status == 'Closed' ? 'disabled' : '' %> <%= issue.priority == 'Normal' ? ' checked' : '' %> name="optionPrior" id="bug" value="Normal">
                            <label class="form-check-label" for="bug">
                                Normal
                            </label>
                            <div class="col-sm-8">
                                <input class="form-check-input" type="radio" <%= issue.status == 'Closed' ? 'disabled' : '' %> <%= issue.priority == 'High' ? ' checked' : '' %> name="optionPrior" id="feature"
                                    value="High">
                                <label class="form-check-label" for="feature">
                                    High
                                </label>
                            </div>
                            <input class="form-check-input" type="radio" <%= issue.status == 'Closed' ? 'disabled' : '' %> <%= issue.priority == 'Urgent' ? ' checked' : '' %> name="optionPrior" id="support" value="Urgent">
                            <label class="form-check-label" for="support">
                                Urgent
                            </label>
                            <div class="col-sm-8">
                                <input class="form-check-input" <%= issue.status == 'Closed' ? 'disabled' : '' %> <%= issue.priority == 'Immediate' ? ' checked' : '' %>  type="radio" name="optionPrior" id="feature"
                                    value="Immediate">
                                <label class="form-check-label" for="feature">
                                    Immediate
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label class="form-check-label" id="issueNama" name="issueNama">Assignee
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select ;" aria-label="Default select example" <%= issue.status == 'Closed' ? 'disabled' : '' %> id="issueid" name="issueid">
                            <option selected hidden value="<%= session.userid %>">
                                <%= session.firstname + ' ' + session.lastname %>
                            </option>
                            <% namnam.forEach((name)=>{ %>
                                <option value="<%= name.userid %>">
                                    <%= name.firstname + ' ' + name.lastname %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label for="tracker">
                            Start Date
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" readonly name="createdDate" id="createdDate"
                            value="<%= moment(sdate.startdate).format(" DD MMMM YYYY", "LL" ) %>">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label for="tracker">
                            Due Date
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" readonly name="createdDate" id="createdDate"
                            value="<%= moment(sdate.duedate).format(" DD MMMM YYYY", "LL" ) %>">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label for="tracker">
                            Estimated Time
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" type="number" step="0.01" <%= issue.status == 'Closed' ? 'readonly' : '' %> name="estimatedTime" id="estimatedTime"
                            value="<%= issue.estimatedtime %>">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label for="tracker">
                            % Done
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <input type="range" value="<%= issue.done %>" id="done" name="done" min="0" <%= issue.status == 'Closed' ? 'disabled' : '' %> max="100">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label for="tracker">
                            Time Spent
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" type="number" <%= issue.status == 'Closed' ? 'readonly' : '' %> step="0.01" value="<%=issue.spenttime%>" name="spentTime" id="spentTime">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label for="tracker">
                            Target Version
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" step="0.01" type="number" name="targetVer" <%= issue.status == 'Closed' ? 'readonly' : '' %> value="<%= issue.targetversion %>" id="targetVer">
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label class="form-check-label" id="issueNama" name="issueNama">Author
                    </div>
                    <div class="col-sm-8">
                           <input class="form-control" type="text" name="" id="" readonly value="<%= people.firstname + ' ' + people.lastname %>">
                      
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label for="tracker">
                            Created Date
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" readonly name="createdDate" id="createdDate"
                            value="<%= moment(date.createddate).format(" DD MMMM YYYY", "LL" ) %>">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label for="tracker">
                            Update Date
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" readonly name="createdDate" id="createdDate"
                            value="<%= moment(Date.now()).format(" DD MMMM YYYY", "LL" ) %>">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label for="tracker">
                            Closed Date
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="closedDate" id="closedDate" readonly value="<%= moment(Date.now()).format("DD MMMM YYYY","LL")%>">
                    </div>
                </div>

                <div class="row mb-3" id="add">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label for="" <%= issue.status == 'Closed' ? 'hidden' : '' %>>Files</label>
                    </div>
                    <div class="col-sm-1">
                        <input class="custom-file-input" <%= issue.status == 'Closed' ? 'hidden' : '' %> type="file" name="file" id="file">
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">
                        <button class="btn btn-dark btn-plus-styling" <%= issue.status == 'Closed' ? 'hidden' : '' %> type="button" onclick="add()" name="add-button"
                            id="add-button">+</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"> 
                    <table class="table-striped-dark col-sm-6">
                        <thead>
                      <tr>
                        <th>Image</th>
                        <th>File</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <% if(issue.files){ %> 
                          <ul>
                            <% issue.files.forEach(file => { %> 
                              <% if(file.type == "image/png"){ %> 
                            <li class="mb-4" id="list-image">
                              <a href="<%= file ? `${baseUrl}/images/upload/${file.name}` : '' %>" target="_blank" >
                                <img src="<%= file ? `${baseUrl}/images/upload/${file.name}` : ''%>" alt="" width="70">
                              </a>
                              
                             
                                <input type="hidden" value="<%= file.name %>" name="fileDb">
                                <input type="hidden" value="<%= file.type %>" name="typeDb">
                               
                               
                            </li>
                           
                            <% }})} %> 
                            <button type="button" class="btn btn-danger btn-sm" <%= issue.status == 'Closed' ? 'hidden' : '' %> id="image-delete">-</button>
                          </ul>
                        </td>
                        <td>
                          <% if(issue.files){ %> 
                          <ul>
                            <% issue.files.forEach(file => { %> 
                              <% if(file.type !== "image/png" ){ %> 
                            <li class="list-file" id="list-file">
                              <a target="_blank" href="<%= file ? `${baseUrl}/images/upload/${file.name}` : '' %>">
                            <img src="<%= file ? `${baseUrl}/images/upload/${file.name}` : '' %>" alt="" width="70"></a>
                              <input type="hidden" value="<%= file.name %>" name="fileDb">
                              <input type="hidden" value="<%= file.type %>" name="typeDb">
                            </li>
                            <% }})} %> 
                            <button type="button" class="btn btn-danger btn-sm" <%= issue.status == 'Closed' ? 'hidden' : '' %> id="file-delete">-</button> 

                          </ul>
                        </td>
                      </tr>
                    </tbody>
                    </table>
                    </div>
                  </div>

                <div class="row mb-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <input class="btn btn-primary" <%= issue.status == 'Closed' ? ' hidden' : ''%> type="submit" value="Update">
                    </div>
                    <div class="col-sm-2">
                        <a href="/issues/<%= projectid %>" class="btn btn-danger">Cancel</a>
                    </div>
                </div>

            </form>

        </div>

        <script type="text/javascript">

            var input = `   <div class="row mb-3" id="add">
                          
                          <div class="col-sm-1">
                              <input class="custom-file-input" type="file" name="file" id="file">
                          </div>  
                      </div>`

            function add() {
                $("#files").prop('required', true)
                $("#add-button").before(input)
            }
            
           $("#image-delete").click(function(){
               $('#list-image').remove()
               if($('#list-image').length == 0){
                   $("#image-delete").hide()
                   $('#image-delete').remove()
               }
           });

           $("#file-delete").click(function(){
               $("#list-file").remove()
               if($("#list-file").length == 0){
                   $("#file-delete").hide()
                   $("#file-delete").remove()
               }
           })

           


        </script>

        <%- include('../../partials/footer') %>