<%- include('../../partials/header') %>
    <%- include('../../partials/sidenav') %>
        <div class="container-fluid">
            <body>
                <div class="row mb-3 border-bottom ">
                    <h2> Add Members </h2>
                </div>
                <div id="addmeth" name="addmeth">
                    <form action="" method="POST" class="">
                        <input type="hidden" name="page" value="1">
                        <div class="row my-3">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1">
                                <label class="form-check-label" id="projectNama" name="projectNama">Nama
                            </div>
                            <div class="col-sm-8">
                                <select class="form-select" aria-label="Default select example" id="userid" name="userid">
                                    <option selected hidden>Choose The Position</option>
                                    <% user.forEach((role)=>{ %>
                                        <option value="<%= role.userid %>">
                                            <%= role.firstname + " " + role.lastname %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                        </div>
                        <div>
                            <div class="row my-3">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-1">
                                    <label class="form-check-label" id="projectNama" name="projectNama">Job Desk
                                </div>
                                <div class="col-sm-8">
                                    <select class="form-select" aria-label="Default select example" id="role" name="role">
                                        <option selected hidden>Choose The Position</option>
                                            <option value="Manager">
                                                Manager
                                            </option>
                                            <option value="Software Developer">
                                                Software Developer
                                            </option>
                                            <option value="Quality Assurance">
                                                Quality Assurance
                                            </option>
                                    </select>
                                </div>
                            </div>

                                    <div class="row mb-3">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-1">
                                            <button  class="btn btn-primary" type="submit">Save</Button>
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="/members/<%= projectid %>" class="btn btn-danger">Cancel</a>
                                        </div>
                                    </div>
                        </div>
                    </form>

                </div>
            </body>
        </div>

        </html>

        <%- include('../../partials/footer') %>