<%- include('../../partials/header') %>
    <%- include('../../partials/sidenav') %>
        <div class="container-fluid">
            <body>
                <div class="row mb-3 border-bottom ">
                    <h2> Add Members </h2>
                </div>
                <div id="addmeth" name="addmeth">
                    <form action="" method="POST" class="">
                        <input type="hidden" name="page" value="1">
                        <% user.forEach((name) => { %>
                            <div class="row mb-3">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-8">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="namecheck" id="namecheck"
                                            value="<%=name.userid%>">
                                        <label class="form-check-label" for="idOpt">
                                             <%= name.firstname %> <%= name.lastname%>
                                        </label>
                                        <input type="hidden" name="role" value="<%= name.position %>">
                                    </div>
                                </div>
                                <% }) %>
        
        
                                    <div class="row my-5">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-1">
                                            <input class="btn btn-primary" type="submit" value="Save">
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="/members/<%= projectid %>" class="btn btn-danger">Cancel</a>
                                        </div>
                                    </div>
                        </div>
                    </form>

                </div>
            </body>
        </div>

        </html>

        <%- include('../../partials/footer') %>